.container div{
    background:red;
    margin: 10px;
   
    height: 50px;
    border: solid 2px;
    flex-basis: 200px;
 
    
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
body{
    background: pink;
}